body
  font-family: 'Roboto', sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
main
  flex: 1 0 auto;
header
  h1
    font-size: 1rem
    font-weight: 400
    padding-left: 2rem
    margin: 1.4rem auto
    
#side-nav-button
  padding: 10px 1.5rem
  line-height: 2
  cursor: pointer
div
  >.side-nav
    >li
      >a
        &:hover
          text-decoration: none
          background-color: rgba(0,0,0,0.15)

#slide-out
  .user-view
    >a
      color: white
      &:hover
        text-decoration: none
        opacity: 0.8
#login-buttons
  a
    color: white
.login-button
  text-align: right
  a 
    line-height: 3.5;

#login-dropdown-list
  left: -180px
  top: 15px
  a 
    color: black
    text-decoration: none
  .login-close-text
    text-align: right
    
.expenses
  margin: 0
  div 
    font-size: 0.8rem
    text-align: left
    color: grey
    padding-right: 1%
  .update-expense
    margin: 0 auto
    text-align: center
    display: inline-block
    width:85%
    input
      margin-right: 1rem
      height: 2rem
      margin: 0
      width: 35%
      font-size: 1rem
      border-bottom: none
    [name="sum"]
      width:20%
      text-align: center
    [name="name"]
      text-align: right
      padding-right:20px
    [name="tag"]
      padding-left:20px
  form.update-expense
    input[name="name"].update,
    input[name="sum"].update,
    input[name="text"].update,
    input[name="tag"].update
      &:focus 
        border-bottom: 1px solid blue
        box-shadow: none
form.update-date-and-author
  input[name="createdAt"].edit-date,
  input[name="author"].edit-author
    font-size: 12px
    margin-right: 1rem
    height: 2rem
    margin: 0 0 10px 0
    min-width: 10px
    max-width: 200px
    border-bottom: 1px solid transparent
    &:focus 
      border-bottom: 1px solid blue
      box-shadow: none
#search    
  &:focus 
    border-bottom: 1px solid blue
    box-shadow: 0 1px 0 0 blue  
  &:focus + label
    color: blue
.input-field.search
    i.material-icons
      color: blue
    
.new-expense-container 
  margin: 10%
#new-expense-text
  &:focus
    border-bottom: 1px solid blue
    box-shadow: none
  &:focus + label
    color: blue
.add-expense
  button
    background-color: blue
    &:hover,
    &:focus
      background-color: cornflowerblue
      
.btn.delete-expense
  height: initial 
  line-height: initial
  padding: 1px 5px
  background: none
  border-radius: 12px
  box-shadow: none
  color: #333333
  height: 24px
  &:hover
    background-color: firebrick
    box-shadow: none
    border-radius: 12px
    color: white
    opacity: 0.8
    
.filters
  margin-bottom: 10px
  text-align: left
  div
    display:inline-block
    a
      font-size: 12px
      text-decoration: none
      padding: 0 10px;
      line-height: 24px;
      height: 24px;
      background-color: #1565C0 
      &:hover
        background-color: #2196F3
        color: white
      
.expenses-list
  div.expenses:nth-child(even)
    background-color: #e3f2fd
    [name="name"],
    [name="sum"],
    [name="tag"],
    [name="createdAt"],
    [name="author"]
      border-bottom: 1px solid #e3f2fd;
  div.expenses:nth-child(odd)
    [name="name"],
    [name="sum"],
    [name="tag"],
    [name="createdAt"],
    [name="author"]
      border-bottom: 1px solid white;
div.expenses:nth-child(even)
  background-color: #e3f2fd
  [name="name"],
  [name="sum"],
  [name="tag"],
  [name="createdAt"],
  [name="author"]
    border-bottom: 1px solid #e3f2fd;
div.expenses:nth-child(odd)
  [name="name"],
  [name="sum"],
  [name="tag"],
  [name="createdAt"],
  [name="author"]
    border-bottom: 1px solid white;
.search
  .material-icons
    line-height: 2
.spendings
  font-size: 3rem
  font-weight: bold
  text-align: center
  
.card-title.activator.white-text.details
  text-align: right
  font-size: 0.9rem
  text-transform: uppercase;
  margin-bottom: 0;
  letter-spacing: 1px;
  
.collection-header,.expenses-list,.change-month 
  select
    display: block
    border: 0
    border-bottom: 1px solid grey
    border-radius: 0
    &:active
      border-bottom: 2px solid #0074d9

.row.total
  margin-bottom:5px;
  font-size: 1rem
  color: dimgray
  text-align: right
  .count
    text-align:left
.total
  width:100%
  span
    strong
      font-size: 1.3rem
  
.row
  .col
    .tag
      padding-top:30px
    select
      border: none
      border-bottom: 1px solid black
      &:focus
        outline: none

#tag
  option
    text-transform: capitalize
#ruler
  display:inline-block
  font-family: 'Roboto', sans-serif
  font-size: 12px
//
//@media only screen and (min-width: 361px) and (max-width: 800px)
//  #side-nav-button
//    line-height: 1.4
//  i.material-icons
//    font-size: 30px
//  .new-expense-container
//    margin: 6% 3%
//  .add-expense
//    .input-field
//      label
//        font-size: 1.3rem
//        line-height: 0.5
//    .btn
//      font-size: 1.2rem
//  .expenses
//    .update-expense
//      input.update
//        font-size: 1.3rem
//        
//  form.update-date-and-author 
//    input[name="createdAt"].edit-date,
//    input[name="author"].edit-author
//      font-size: 1.05rem
//    span
//      font-size: 1.05rem

        
@media only screen and (min-width: 300px)
  .row
    main.col.s12
      padding: 0
  #side-nav-button
    line-height: 1.6
  i.material-icons
    font-size: 24px
  .new-expense-container
    margin: 10% 10% 15% 10%
  .add-expense
    .input-field
      label
        font-size: 1rem
        line-height: 1
    .btn
      font-size: 1rem
  .expenses
    margin: 2% 0;
    padding: 2%;
    .update-expense
      input.update
        font-size: 1.1rem
      input[name="name"]
        padding-right:0
      input[name="tag"]
        padding-left:0
        
  form.update-date-and-author
    margin-left: 1rem
    input.edit-author
      padding: 0 0.2rem
    input[name="createdAt"].edit-date,
    input[name="author"].edit-author
      font-size: 0.9rem
    span
      font-size: 0.9rem
  .page-footer
    h5
      font-size: 1.4rem
  h1
    display:none
  .search
    display:none
  .filters
    line-height: 3
  
  .expenses-list
    .no-padding
      ul.collection
        border: none
        border-radius: 0
        -webkit-appearance: none
    .row
      .month,
      .tag
        padding-top: 0
    .row.no-padding
      padding: 0
      .col
        padding: 0
  #ruler
    font-size: 0.9rem
    color: transparent
  .col.total-by-tags
    padding:0
    ul.collection
      border: none
      border-radius: 0
      li.collection-item
        padding: 10px 0

@media only screen and (min-width: 993px)
  .filters
    line-height: 4
    margin: 0
  .expenses-list
    .no-padding
      div
        ul.collection
          border: 1px solid #e0e0e0
          border-radius: 2px
          li.collection-item
            padding: 10px 20px