body
  font-family: 'Roboto', sans-serif;
header
  h1
    font-size: 1rem
    font-weight: 400
    padding-left: 2rem
    margin: 1.4rem auto
#side-nav-button
  padding: 0 1.5rem
  line-height: 2
  cursor: pointer
div
  >.side-nav
    >li
      >a
        &:hover
          text-decoration: none
          background-color: rgba(0,0,0,0.15)

#slide-out
  .user-view
    >a
      color: white
      &:hover
        text-decoration: none
        opacity: 0.8
#login-buttons
  a
    color: white
.login-button
  text-align: right
  a 
    line-height: 3.5;

#login-dropdown-list
  left: -180px
  top: 15px
  a 
    color: black
    text-decoration: none
  .login-close-text
    text-align: right
    
.expenses
  margin: 2rem 0
  div 
    font-size: 0.9rem
    text-align: right
  .update-expense
    margin: 0 auto
    text-align: center
    input
      margin-right: 1rem
      height: 2rem
      margin: 0 0 10px 0
      width: 30%
      font-size: 1rem
      border-bottom: 1px solid #eeeeee
    [name="sum"]
      width:10%
.new-expense-container
  margin: 15%

.btn.delete-expense
  height: initial 
  line-height: initial
  padding: 1px 5px;
  background: none
  box-shadow: none
  color: #333333
  &:hover
    background: none
    box-shadow: none
    color: firebrick
    opacity: 0.8