<template name="Chart">
  <h1>Analysis</h1>
  <div class="chart-container" style="position: relative;  width:40vw">
    <canvas id="myChart" width="400px" height="400"></canvas>
  </div>
  <script>
  var ctx = document.getElementById("myChart").getContext('2d');
    //document.querySelector('#myChart').parentNode.style.width = '35vw'
  var myChart = new Chart(ctx, {
      type: 'pie',
      data: {
          labels: ["вода", "сиги", "проезд", "обед", "еда",
                   "тв", "пивас", "пятница", "вкусняшки", "катя",
                   "холлс", "мама", "ДР", "кофе", "не помню"],
          datasets: [{
              data: [9.21, 48.88, 7.15, 62.05, 197.73,
                     200, 34.69, 117.61, 0.99, 0.93,
                     5.87, 150, 212.48, 9, 5],
               backgroundColor: ['#33691e', '#e65100', '#f57f17', '#ff6f00', '#827717',
                                 '#0d47a1', '#01579b', '#006064', '#004d40', '#1b5e20',
                                 '#b71c1c', '#880e4f', '#4a148c', '#311b92', '#1a237e']
          }]
      },
      options: {
        legend: {
            labels: {
                fontFamily: 'Roboto',
                fontSize: 14,
              // This more specific font property overrides the global property
                fontColor: 'black'
            }
        }
    }
  });
  </script>
</template>